Resources/OriginalSchemas/ISO16684-1_Properties-xmpMM.rng

<?xml version="1.0" encoding="utf-8"?>
<!--
Property definitions for the XMP Media Management namespace defined in ISO
16684-1 clause 8.6. There is an rng:define element for each top-level property
providing the formal definition of that property. There is also an rng:define
for the pattern "ISO16684-1.Properties-xmpMM" that contains an rng:interleave of
all of the top level properties. A full RelaxNG grammar would contain the outer
rdf:RDF and rdf:Description elements, then refer to the relevant
ISO16684-1.Properties-xx patterns for the necessary namespaces.
-->
<rng:grammar xmlns:rng="http://relaxng.org/ns/structure/1.0" xmlns:xmpMM="http://ns.adobe.com/xap/1.0/mm/" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
    <rng:include href="ISO16684-1_Types-Simple.rng"/>
    <rng:include href="ISO16684-1_Types-Array.rng"/>
    <rng:include href="ISO16684-1_Types-Structure.rng"/>
    <!-- ================================================== -->
    <!-- Interleave of all XMP Media Management properties. -->
    <!-- ================================================== -->
    <rng:define name="ISO16684-1.Properties-xmpMM" combine="choice">
        <rng:interleave>
            <rng:optional>
                <rng:ref name="xmpMM.DerivedFrom"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="xmpMM.DocumentID"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="xmpMM.InstanceID"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="xmpMM.OriginalDocumentID"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="xmpMM.RenditionClass"/>
            </rng:optional>
            <rng:optional>
                <rng:ref name="xmpMM.RenditionParams"/>
            </rng:optional>
        </rng:interleave>
    </rng:define>
    <!-- ====================================================== -->
    <!-- XMP Media Management properties in alpahbetical order. -->
    <!-- ====================================================== -->
    <rng:define name="xmpMM.DerivedFrom" combine="choice">
        <rng:element name="xmpMM:DerivedFrom">
            <rng:ref name="ISO16684-1.Types.QValue.ResourceRef"/>
        </rng:element>
    </rng:define>
    <rng:define name="xmpMM.DocumentID" combine="choice">
        <rng:element name="xmpMM:DocumentID">
            <rng:ref name="ISO16684-1.Types.QValue.GUID"/>
        </rng:element>
    </rng:define>
    <rng:define name="xmpMM.InstanceID" combine="choice">
        <rng:element name="xmpMM:InstanceID">
            <rng:ref name="ISO16684-1.Types.QValue.GUID"/>
        </rng:element>
    </rng:define>
    <rng:define name="xmpMM.OriginalDocumentID" combine="choice">
        <rng:element name="xmpMM:OriginalDocumentID">
            <rng:ref name="ISO16684-1.Types.QValue.GUID"/>
        </rng:element>
    </rng:define>
    <rng:define name="xmpMM.RenditionClass" combine="choice">
        <rng:element name="xmpMM:RenditionClass">
            <rng:ref name="ISO16684-1.Types.QValue.RenditionClass"/>
        </rng:element>
    </rng:define>
    <rng:define name="xmpMM.RenditionParams" combine="choice">
        <rng:element name="xmpMM:RenditionParams">
            <rng:ref name="ISO16684-1.Types.QValue.Text"/>
        </rng:element>
    </rng:define>
</rng:grammar>